include README AUTHORS COPYING TODO CHANGES INSTALL run_tests.sh run_tests.bat

recursive-include docs/tutorials *
recursive-include docs/API *
include docs/README
include docs/UPDATE.README

recursive-include examples *
recursive-include tests *
recursive-include install_scripts *
