include README AUTHORS COPYING TODO CHANGES INSTALL run_tests.sh run_tests.bat

include install_scripts/uninstall_linux.sh

recursive-include examples *
recursive-include docs *
recursive-include tests *
